.bg-light{
    background-color: grey;
    
}
.bg-dark{
    background-color: black;
}
html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
                                                
  }
  .container{
      margin:0;
      padding:0;
  }
  body{
    max-width:100vw;
    overflow-x: hidden;
  }


  /**section-top**/

  .section-top{
   width:100vw;
  
    margin-right:0;overflow:hidden;
    padding-right:0;
    padding-top:56px;
    background-image: radial-gradient(rgb(8, 8, 8) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -10px -10px;
    background-attachment: fixed;
    
  }
  .section-menu{
   padding-top:20px;
    
  }
  .section-top col{
 
     
      text-align: center;
      height:100vh;
  }

 
  h1{
    margin-top:0;
    margin-bottom:20px;
    color:rgb(0, 0, 0);
    font-size: 10px;
    word-spacing: 4px;
    text-align:left;
    padding-top:16%;
    letter-spacing: 1px;
    }
    h1,
    h2,
    h3,h4,h5,h6 {
      font-weight:Black 900;
      
      font-family: 'Roboto', sans-serif;
      
    
    }

  .row{
      padding:0;
      margin:0;
      width:100vw;
  }

  @media only screen and (max-width: 1027px) {
    

  }

  .title-lg{
   font-weight: 600;font-size:340%;
      
    font-family: 'Raleway', sans-serif;
  }
  .tales {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-height:400px !important;
  }
  header{
    position:fixed;z-index:155;
    top:0;left:0;width:100vw;
  }

  .menu-logo{
    font-size:370%;
    display:block;
    color:rgb(59, 59, 59);
    margin-left:5%;
  }
 
  .outer {
    margin: 50px;
  }
  
  .button {
    border: none;
    border-radius: 10rem;
    
    height: 40px;
    width:9rem;
    display: block;
 color:white;
    background: linear-gradient(to right, rgb(41, 41, 41) 50%, rgb(96, 201, 64) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .button:hover {
    background-position: left bottom;
    color:white;
    width:160px;
    letter-spacing:1px;
  }
  




  
 

  